<h2>All the Bands!</h2>

<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<form action="/bands/new" method="GET">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Add New Band">
</form>


<ul>
<% Band.all.each do |band| %>
  <li><a href=<%= band_url(band) %>><%= band.name %></a> (<a href=<%=edit_band_url(band) %>>edit</a>)</li>
<% end %>
</ul>
